@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans&display=swap');

$background-color: white;
$primary: #ffbe0b;
$accent1: #fb5607;
$accent2 : #ff006e;
$accent3 : #8338ec;
$accent4 : #3a86ff;
$font-body : 'Open Sans', cursive;
$font-headline : 'Bubblegum Sans', sans-serif;
$text-light : #fff;
$text-dark : #000;
$border-dark : #000;
$break-medium: 31em;