@use 'variables' as *;
@use 'atoms'; 
@use 'molecules';
@use 'organisms';

html {
    background-color: $background-color;
    padding: 6%;
}

body {
    font-family: $font-body;
}


h2 {
    font-weight: 900; /* Heavy */
    font-size: 5em;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 5%;
    text-align: center;
  }

.design {
    background-color: $accent4;
    padding: 1em;
    margin: 1em;
    color: $text-light;
    grid-template-columns: 1fr 2fr;
    display: grid;
    grid-gap: 3em;
}

.fonts > h4:nth-of-type(1), .fonts > p:nth-of-type(1) {
    font-family: $font-body;
}

.fonts {
    grid-column: 1/2;
    font-family: $font-headline;
    font-size: 1.3em;
}

.colors {
    grid-column: 2/3;
    font-size: 1.3em;
}

.swatch {
    width: 100%;
    height: 30px;
    border: 1px solid;
  }
  .primary {
    background-color: $primary;
  }
  .accent1 {
    background-color: $accent1;
  }
  .accent2 {
    background-color: $accent2;
  }
  .accent3 {
    background-color: $accent3;
  }
  .text-dark {
    background-color: $text-dark;
  }

.headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.headers > h1 {
    font-size: large;
}

.element2 > h2 {
    font-size: 1.5em;
}

.element3 > h3 {
    font-size: 1.3em;
    padding: 0.5em;
}

.element1 {
    grid-column: 1/2;
}

.element2 {
    grid-column: 2/3;
}

.element3 {
    grid-column: 3/4;
}